* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #010101;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  overflow-x: auto;
}

.bg-vertical-stripes {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to right,
    rgba(235, 235, 235, 0.5) 0px,
    rgba(235, 235, 235, 0.5) 70px,
    rgba(245, 245, 245, 0.5) 70px,
    rgba(245, 245, 245, 0.5) 160px
  );
  background-size: 80px 100%;
  z-index: 1;
}

.bg-grid-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  pointer-events: none;
  background-image: linear-gradient(
      to right,
      rgba(220, 220, 220, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(220, 220, 220, 0.5) 1px, transparent 1px);
  background-size: 80px 40px;
  z-index: 1;
}

.formula {
  pointer-events: none;
  user-select: none;
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 134%;
  color: #97c3ab;
  opacity: 0.7;
  z-index: 2;
  white-space: nowrap;
}

.formula-1 {
  font-weight: 500;
  font-size: 20px;
  transform: rotate(16deg);
  bottom: 90%;
  left: 755px;
  font-style: italic;
}

.formula-2 {
  transform: rotate(15deg);
  bottom: 21%;
  left: 15%;
}

.formula-3 {
  transform: rotate(-30deg);
  bottom: 20%;
  left: 25%;
}

.formula-4 {
  font-style: italic;
  transform: rotate(16deg);
  bottom: 80px;
  left: 850px;
  z-index: 10;
}

.formula-5 {
  font-weight: 500;
  font-size: 20px;
  top: 1%;
  right: 1%;
}

.main-content {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media (min-width: 1024px) {
  .content-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.left-column {
  width: 100%;
  padding-top: 32px;
  max-width: 480px;
  position: relative;
}

.logo {
  margin-bottom: 48px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.tag {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #0f7c41;
  color: #0f7c41;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
  letter-spacing: 0.08em;
}
.tag-date {
  font-weight: 700;
}
.tag::before,
.tag::after,
.tag span::before,
.tag span::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #0f7c41;
}

.tag::before {
  top: -4px;
  left: -4px;
}

.tag::after {
  top: -4px;
  right: -4px;
}

.tag span::before {
  bottom: -4px;
  left: -4px;
}

.tag span::after {
  bottom: -4px;
  right: -4px;
}

.main-heading {
  width: 624px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: #010101;
  margin-bottom: 32px;
  line-height: 1.2;
}
@media (max-width: 1060px) {
  .main-heading {
    width: 550px;
    font-size: 45px;
  }
}
.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  width: 540px;
  margin-bottom: 16px;
}

.arrow-container {
  position: absolute;
  width: 104px;
  height: 104px;
  right: -40px;
  bottom: -50px;
  z-index: 3;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.right-column {
  z-index: 3;
  width: 45%;
  padding-top: 32px;
  position: relative;
}

.form-container {
  background-color: white;
  padding: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 4;
  border-radius: 2px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.bg-green-squares {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.green-square {
  position: absolute;
  background-color: #0f7c41;
  z-index: 1;
  pointer-events: none;
}

.green-square-1 {
  width: 10px;
  height: 10px;
  top: 94px;
  right: -8px;
}

.green-square-2 {
  width: 12px;
  height: 12px;
  top: 210px;
  right: -80px;
}

.green-square-3 {
  width: 20px;
  height: 20px;
  bottom: 255px;
  right: -67px;
}

.green-square-4 {
  width: 18px;
  height: 18px;
  bottom: 10px;
  left: 160px;
}

.green-square-5 {
  width: 16px;
  height: 16px;
  bottom: -60px;
  left: 0px;
}

.excel-image-container {
  position: absolute;
  bottom: -100px;
  right: -150px;
  width: 312px;
  height: 240px;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.excel-image {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

.form-heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
}

.timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-number {
  font-size: 2.25rem;
  font-weight: 700;
}

.timer-number-green {
  color: #0f7c41;
}

.timer-label {
  font-size: 0.75rem;
  color: #767676;
}

.timer-separator {
  border-radius: 50%;
  color: rgba(1, 1, 1, 0.2);
  font-size: 2.25rem;
  font-weight: 700;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 16px;
  background-color: #f5f5f5;
  border: none;
  font-size: 1rem;
  transition: border 0.3s ease;
}
.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #767b8e;
}
.form-input.error {
  border: 1px solid #ff4d4d;
  background-color: #fff0f0;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.75rem;
  margin-top: 4px;
  min-height: 16px;
}

.phone-input-container {
  position: relative;
  background-color: #f5f5f5;
}

.phone-prefix {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  pointer-events: none;
}

.ukraine-flag {
  margin-right: 0;
  width: 32px;
  height: 20px;
}

.phone-code {
  color: red;
  font-size: 1rem;
}

.phone-input {
  width: 100%;
  padding-left: 80px;
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #010101;
}

.phone-input::placeholder {
  color: #767b8e;
}

.phone-dash {
  color: #767b8e;
}

.terms-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  margin-top: 4px;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.checkbox.checked {
  border-color: #0f7c41;
}

.checkbox.error {
  border-color: #ff4d4d;
  background-color: #fff0f0;
}

.checkbox .check-icon {
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: #0f7c41;
}

.checkbox.checked .check-icon {
  opacity: 1;
}

.terms-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 133%;
}

.terms-link {
  color: #3577f7;
  text-decoration: none;
}

.terms-link:hover {
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  padding: 16px;
  background-color: #0f7c41;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0a6535;
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  .main-heading {
    font-size: 36px;
    width: 290px;
  }

  .description {
    font-size: 18px;
  }

  .tags {
    display: flex;
    flex-direction: column;
    width: 260px;
    gap: 12px;
    margin-bottom: 24px;
  }

  .tag-last {
    max-width: 240px;
  }

  .description {
    width: 300px;
    font-size: 16px;
    line-height: 150%;
  }

  .arrow-container {
    width: 80px;
    height: 80px;
    bottom: 50px;
    right: 40px;
  }

  .left-column {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .formula-3 {
    bottom: 40px;
    left: -15px;
  }

  .formula-2 {
    display: none;
  }

  .formula-4 {
    bottom: 20px;
    left: 240px;
    font-size: 16px;
  }

  .formula-1 {
    bottom: 92%;
    left: 200px;
  }

  .green-square-1 {
    top: 780px;
    left: -240px;
  }

  .green-square-4 {
    bottom: 2px;
    left: 40px;
  }

  .green-square-2 {
    top: 650px;
    left: -140px;
  }

  .green-square-5 {
    display: none;
  }
  .excel-image {
    width: 200px;
    height: 150px;
  }
  .bg-vertical-stripes {
    background-image: linear-gradient(
      to right,
      rgba(235, 235, 235, 0.5) 0px,
      rgba(235, 235, 235, 0.5) 160px,
      rgba(245, 245, 245, 0.5) 160px,
      rgba(245, 245, 245, 0.5) 280px
    );
    background-size: 190px 100%;
  }
  .form-container {
    width: 360px;
  }
  .excel-image-container {
    bottom: -140px;
    left: 120px;
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    width: 92%;
    max-width: 340px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-form-container {
    width: 100%;
  }
}

.mobile-registration-container,
.register-button-mobile,
.modal {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 92%;
  max-width: 340px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #767676;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-container {
  width: 100%;
}

@media (max-width: 360px) {
  .container {
    padding: 0 16px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .right-column {
    display: none !important;
  }

  .left-column {
    margin-bottom: 0px;
  }

  .arrow-container {
    bottom: -30px;
    right: 0px;
    transform: rotate(20deg) scaleY(-1);
  }

  .mobile-registration-container {
    display: block !important;
    width: 100%;
    max-width: 330px;
    margin: 0px auto;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  .mobile-registration-container .form-heading {
    font-weight: 700;
    text-align: center;
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 24px;
  }

  .mobile-registration-container .timer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .mobile-registration-container .register-button-mobile {
    display: block !important;
    width: 100%;
    padding: 16px;
    background-color: #0f7c41;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .mobile-registration-container .register-button-mobile:hover {
    background-color: #0a6535;
  }

  .modal-content {
    width: 92%;
    max-width: 320px;
    padding: 16px;
    margin: 10px auto;
  }

  .formula-1 {
    display: none;
  }

  .formula-4 {
    display: none;
  }
}

.mobile-registration-container {
  display: none;
}
